<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="description" content="{{ config.society }}"/>
    <meta name="keywords" content="{{ config.society }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ config.society }}"/>
    <meta property="og:url" content="{{ config.website }}"/>
    <meta property="og:site_name" content="{{ config.society }}"/>
    <meta charset="UTF-8">

    <link rel="canonical" href="{{ config.website }}"/>
    <link rel="shortcut icon" href="{{ asset('build/media/own/' ~ config.favico) }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('security') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('security') }}
    {% endblock %}
</head>

<body id="kt_body">
    <div id="particles-js">
        <canvas class="particles-js-canvas-el"></canvas>
    </div>
    <div class="particles-js d-flex flex-column flex-lg-row-fluid py-10">
        <div class="d-flex flex-center flex-column flex-column-fluid">
            {% block body %}{% endblock %}
        </div>
        <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
            <div class="d-flex flex-center fw-semibold fs-6">
                <span class="text-white">
                    {{ 'now'|date('Y') }}&copy;
                    <a href="{{ config.website }}" class="text-muted text-hover-primary"
                       target="_blank">{{ config.society }}</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
